/* extended */

$font-size-regular: 12px;

.info, %default-size-font {
	font-size: $font-size-regular;
}

.success {
    @extend .info;
    color: #00FF00;
}

.warning {
	@extend %default-size-font;
	color: #FF0000;
}
