/* Assign: Font size 12px to all tags of class ".info". Text color #00FF00 to all tags of class .success and extend style of the class ".info". Text color #FF0000 to all tags of class .warning and extend style of the class .info. "extended" */

$red: #FF0000;
$green: #00FF00;
$font-size-regular: 12px;

.info, %default-size-font {
	font-size: $font-size-regular;
}

.success {
    @extend .info;
    color: #00FF00;
}

.warning {
	@extend %default-size-font;
	color: $red;
}
