/* Assign: Font size 12px to all tags of class ".info". Text color #00FF00 to all tags of class .success and extend style of the class ".info". Text color #FF0000 to all tags of class .warning and extend style of the class .info */

%default-font-size {
	font-size: 12px;
}

.info {
	@extend %default-font-size;
}

.success {
	@extend %default-font-size;
	color: #00ff00;
}

.warning {
	@extend %default-font-size;
	color: #ff0000;
}
